## Análise histórica de emissões de carbono

### Análise Inicial dos dados

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dados = pd.read_csv('dataset\\co2_emission.csv')

In [3]:
df = pd.DataFrame(dados)
df.head(10)

        Entity Code  Year  Annual CO₂ emissions (tonnes )
0  Afghanistan  AFG  1949                         14656.0
1  Afghanistan  AFG  1950                         84272.0
2  Afghanistan  AFG  1951                         91600.0
3  Afghanistan  AFG  1952                         91600.0
4  Afghanistan  AFG  1953                        106256.0
5  Afghanistan  AFG  1954                        106256.0
6  Afghanistan  AFG  1955                        153888.0
7  Afghanistan  AFG  1956                        183200.0
8  Afghanistan  AFG  1957                        293120.0
9  Afghanistan  AFG  1958                        329760.0